.dashboard-layout {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
}

.dashboard-content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto; /* Permite scroll si el contenido es muy largo */
}